.addModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--bg-color);
  padding: 30px;
  box-shadow: 4px 3px 10px 7px rgba(46, 46, 46, 0.19);

  h3 {
    color: var(--orange);
    font-size: clamp(1rem, 5vw, 1.4rem);
    margin-bottom: 30px;
  }
  .close {
    margin: 0 0 50px calc(100% - 40px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px #555555;

    img {
      width: 100%;
    }
  }
  .form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;

    label {
      color: var(--green);
      font-weight: 600;
      display: block;
    }

    input,
    textarea,
    select {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid var(--green);
    }

    input {
      height: 28px;
    }

    textarea {
      height: 120px;
      resize: none;
      width: 100%;
    }

    #photo {
      border: 1px solid var(--green);
      height: 33px;
      background-color: white;
    }
    label[htmlFor="public"] {
      width: 10px;
      vertical-align: bottom;
    }
    #public {
      margin: 0 20px;
      display: inline;
      width: fit-content;
      height: fit-content;
    }

    button[type="submit"] {
      display: block;
      letter-spacing: 1px;
      margin-left: calc(100% - 196.5px);
    }
  }
}
