.cartItems {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  border-spacing: 0 20px;
  border-collapse: separate;
  border-bottom: 1px solid gray;

  thead {
    border-bottom: 1px solid gray;
    tr {
      color: var(--orange);
      font-size: 1.1rem;
      th {
        text-align: left;
        padding: 0 10px;
      }
    }
  }

  td {
    padding: 0 10px;
  }

  .productHeader {
    width: clamp(70vw, 2vw, 80vw);
  }
  .priceHeader,
  .quantityHeader {
    max-width: 130px;
    width: 12vw;
  }

  .desktop,
  .mobile {
    display: none;

    .quantityContainer {
      display: flex;
      gap: 10px;
    }
    button {
      width: 25px;
      height: 25px;
    }
  }

  .mobile {
    display: block;
  }
  @media screen and (min-width: 800px) {
    .desktop {
      display: table-cell;
    }

    .productHeader {
      width: 60%;
    }
  }

  tbody {
    .row {
      width: 100%;
      max-height: 280px;
      height: fit-content;
      margin-bottom: 30px;
      border-bottom-color: gray;
      border-bottom: 1px solid gray;

      .productData {
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: flex-start;
        gap: clamp(15px, 3vw, 30px);

        img {
          width: 100%;
          max-width: 150px;
        }
        .data {
          width: 150px;
        }

        @media screen and (min-width: 470px) {
          .data {
            width: clamp(180px, 60%, 550px);
          }
        }

        @media screen and (min-width: 800px) {
          .mobile {
            display: none;
          }
        }
      }
    }
  }
}

.payment {
  padding: 10px;
  h3 {
    color: var(--green);
  }
}

.noItems {
  min-height: calc(100vh - 307px);
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;

  small {
    display: block;
    margin-top: 20px;
    button {
      background: none;
      border: none;
      font-size: 21px;
      color: var(--orange);
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
