.checkout {
  padding: 15px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;

  .contact,
  .addressForm {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    color: var(--orange);

    label {
      display: block;
      font-size: clamp(0.8rem, 3vw, 1.1rem);
      color: var(--green);
      font-weight: 600;
      margin-top: 15px;
      padding: 0 3px;
      width: fit-content;
    }

    input {
      padding: 11px 10px;
      font-size: 1rem;
      border: 2px solid var(--green);
      border-radius: 5px;
      background: white;
    }
  }

  .addressForm {
    margin-top: 40px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  fieldset input:focus {
    outline: none;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;

    button {
      font-size: 0.9rem;
      width: 167px;
      height: 35px;
      padding: 0 30px;
    }
  }
}

@media screen and (min-width: 420px) {
  .contact,
  .addressForm {
    max-width: 650px;
  }

  .addressForm {
    .line1 {
      display: flex;
      gap: 10px;
      width: 100%;

      .field1 {
        width: 82px;
        input {
          width: 100%;
        }
      }
      .field2 {
        width: 258px;
      }
    }
  }
}
