.home {
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  padding: 15px;
  margin: 0 auto;
  .banner {
  }

  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(10px, 3vw, 25px);
    max-width: 1250px;
    margin: 0 auto;

    .card {
      width: 100%;
      max-width: 200px;
      transition: all 0.2s ease-in-out;

      img {
        width: 100%;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media screen and (min-width: 700px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 880px) {
    .products {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
