.home {
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  margin: 0 auto;
  .banner {
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
    }
    .slogan {
      position: absolute;
      left: clamp(30px, 10vw, 250px);
      top: clamp(60px, 10vw, 150px);
      font-size: clamp(0.6rem, 5vw, 2.5rem);
      width: clamp(90px, 35vw, 400px);
    }
  }

  .title {
    padding: 60px 10px 0;
    color: var(--green);
  }

  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(30px, 3vw, 45px);
    max-width: 1250px;
    margin: 10px auto 40px;
    padding: clamp(5px, 3vw, 15px);
    justify-items: center;

    .card {
      width: 100%;
      max-width: 220px;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      color: rgb(15, 15, 15);
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 4px 3px 10px 7px rgba(46, 46, 46, 0.19);
      max-height: 375px;

      img {
        width: 100%;
        height: 62%;
        object-fit: cover;
      }

      .info {
        height: fit-content;
        display: flex;
        padding: 10px;
        flex-direction: column;
        h2 {
          color: var(--black);
          font-size: clamp(0.8rem, 3vw, 1.3rem);
          margin: 0;
          height: clamp(38px, 10vw, 47px);
        }
        .greenBtn {
          // margin-left: calc(100% - 154px);
          margin-top: 10px;
          width: clamp(115px, 5vw, 154px);
          padding: clamp(5px, 3vw, 10px);
          align-self: flex-end;
        }

        p {
          font-size: clamp(0.8rem, 5vw, 1.2rem);
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .title {
      padding: 90px 25px 0;
    }
    .products {
      margin: 30px auto 60px;
    }
  }

  @media screen and (min-width: 700px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 880px) {
    .products {
      grid-template-columns: repeat(4, 1fr);

      .card {
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }

        .info {
          display: none;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          .info {
            display: flex;
            position: absolute;
            top: 0;
            backdrop-filter: blur(10px);
            width: 100%;
            height: 100%;
            background-color: rgba(224, 214, 215, 0.562);
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .greenBtn {
              align-self: center;
              background-color: var(--bg-color);
              color: var(--black);

              &:hover {
                border: none;
                color: var(--bg-color);
                background-color: var(--green);
              }
            }
            p {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
