.modifModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--bg-color);
  padding: 30px;
  overflow-y: auto;
  z-index: 1040;
  backdrop-filter: blur(10px);

  .close {
    margin-left: calc(100% - 40px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px #555555;

    img {
      width: 100%;
    }
  }

  .form {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    margin: 0 auto;

    label {
      color: var(--green);
      font-weight: 600;
      display: block;
    }

    input,
    textarea,
    select {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid var(--green);
    }

    input {
      height: 28px;
    }

    textarea {
      height: 120px;
      resize: none;
      width: 100%;
    }

    #photo {
      border: 1px solid var(--green);
      height: 33px;
      background-color: white;
    }
    label[htmlFor="public"] {
      width: 10px;
    }
    #public {
      display: inline;
      width: fit-content;
      height: fit-content;
      margin: 0 20px;
    }

    img {
      width: 100%;
      max-width: 150px;
    }

    button[type="submit"] {
      margin: 30px 0 30px calc(100% - 137px);
      letter-spacing: 1px;
    }
  }
}
