.products {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;

  .addBtn {
    margin-left: calc(100% - 205px);
  }

  h3 {
    color: var(--orange);
    font-size: clamp(1rem, 5vw, 1.4rem);
    margin: 30px 15px 0;
  }

  .articleType {
    width: 95%;
    max-width: 1200px;
    height: fit-content;
    margin: 25px 15px;

    h4 {
      color: var(--green);
      font-size: clamp(0.9rem, 5vw, 1.1rem);
      padding: 10px 0;
      border-top: 1px solid var(--green);
      border-bottom: 1px solid var(--green);
    }

    table {
      width: 100%;
      padding-top: 30px;
      border-collapse: separate;
      border-spacing: 0 15px;

      thead > tr {
        color: var(--green);
      }

      tbody > tr {
        border: 1px solid rgb(236, 236, 236);
        font-weight: 400;

        .photos {
          width: 150px;
          min-width: 120px;

          img {
            width: 100%;
          }
        }

        td {
          text-align: center;

          .modifyBtn,
          .deleteBtn {
            width: 25px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            img {
              width: 100%;
            }

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .btns {
          width: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .products {
    padding-top: 70px;
  }
}
