.signInModal {
  position: absolute;
  z-index: 1;

  width: 98%;
  height: 97vh;
  left: 1%;
  top: 1.5%;
  background-image: linear-gradient(
    to top,
    #f699ce,
    #e59bd9,
    #d19fe2,
    #bca2e8,
    #a5a5ea,
    #94aded,
    #86b3ec,
    #7bb9e9,
    #7ec4e6,
    #89cee2,
    #9ad6de,
    #aededc
  );
  padding: 30px;
  box-shadow: 4px 3px 10px 7px rgba(46, 46, 46, 0.19);

  .close {
    margin: 0 0 50px calc(100% - 40px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
  }

  .tabs {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    border-bottom: 2px solid rgb(97, 97, 219);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
      width: 45%;
      max-width: 170px;
      height: 40px;
      border: none;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      cursor: pointer;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .wrapper {
    form {
      width: fit-content;
      margin: 0 auto;
      width: 80%;
      max-width: 235px;
    }

    label {
      display: block;
      color: rgb(97, 97, 219);
    }

    input {
      margin-bottom: 20px;
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid rgb(175, 175, 175);
      padding: 5px;
    }

    button {
      display: block;
      width: 100px;
      height: 30px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}
