* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

/* font-size: calc(10px + 2vmin); */

:root {
  --bg-color: #f0ece8;
  --black: #1e1e1e;
  --violet: #6161db;
  --navyBlue: #1d1d1f;
  --dark-blue: #19647e;
  --orange: #b04623;
  --light-brown: #926e62;
  --dark-brown: #704232;
  --pink: #e546d8;
  --hover: #ddc0a4;
  --fontFamily: "Roboto", sans-serif;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);
  // background-image: linear-gradient(
  //   to top,
  //   // #EAB1CB, //intruder
  //   #f699ce,
  //   #e59bd9,
  //   #d19fe2,
  //   #bca2e8,
  //   #a5a5ea,
  //   #94aded,
  //   #86b3ec,
  //   #7bb9e9,
  //   #7ec4e6,
  //   #89cee2,
  //   #9ad6de,
  //   #aededc,
  // );

  header {
    width: 100%;
    max-width: 1920px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;

    .logo {
      text-decoration: none;
      font-weight: 800;
      font-size: clamp(1rem, 5vw, 1.4rem);
      color: var(--dark-blue);
      // #315B51;
      span {
        color: var(--orange);
      }
    }

    .buttons {
      width: 50%;
      max-width: 300px;
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
      }

      button {
        background: none;
        border: none;
        width: 80px;
        height: 50px;
        color: var(--dark-blue);
        font-weight: 600;

        &:hover {
          background-color: #ddc0a4;
        }
      }

      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-right: 5px;
        }
      }

      .link {
        text-decoration: none;
        color: var(--dark-blue);
      }
    }
  }

  @media screen and (min-width: 600px) {
    header {
      padding: 10px 15px;
    }
  }
}
