* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: RubikMonoOne;
  src: local("Rubik Mono One regular"),
    url("./fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf") format("TrueType");
}

/* font-size: calc(10px + 2vmin); */

:root {
  --bg-color: #f0ece8;
  --green: #315b51;
  --orange: #b04623;
  --light-brown: #926e62;
  --dark-brown: #704232;
  --hover: #ddc0a4;
  --roboto: "Roboto", sans-serif;
  --black: #1e1e1e;
  --navyBlue: #1d1d1f;
  --violet: #6161db;
  --pink: #e546d8;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);

  header {
    width: 100%;
    max-width: 1920px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .buttons {
      width: 50%;
      max-width: 300px;
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
      }

      button {
        background: none;
        border: none;
        width: 80px;
        height: 50px;
        color: var(--green);
        font-weight: 600;

        &:hover {
          background-color: #ddc0a4;
        }
      }

      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-right: 5px;
        }
      }

      .link {
        text-decoration: none;
        color: var(--green);
      }
    }
  }

  .logo {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;

    h2 {
      font-size: clamp(1rem, 3vw, 2rem);
      font-weight: 900;
      font-family: RubikMonoOne;
      color: var(--green);

      span {
        color: var(--orange);
        font-family: RubikMonoOne;
      }
    }
  }

  .greenBtn {
    background-color: var(--green);
    color: var(--bg-color);
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    &:hover {
      font-weight: 600;
    }
  }

  .brownBtn {
    background-color: var(--dark-brown);
    color: var(--bg-color);
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: var(--orange);
    }
  }

  @media screen and (min-width: 600px) {
    header {
      padding: 0 15px;
    }
  }
}
