* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: RubikMonoOne;
  src: local("Rubik Mono One regular"),
    url("./fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf") format("TrueType");
}

:root {
  --bg-color: #f0ece8;
  --green: #315b51;
  --orange: #b04623;
  --dark-brown: #704232;
  --light-brown: #926e62;
  --black: #1e1e1e;
  --hover: #ddc0a4;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color);

  header {
    width: 100%;
    max-width: 1920px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .buttons {
      max-width: 400px;
      display: flex;
      justify-content: space-between;
      gap: clamp(5px, 3vw, 20px);
      img {
        width: 20px;
      }

      button,
      .link {
        background: none;
        border: none;
        height: 50px;
        color: var(--green);
        font-weight: 600;
        font-size: clamp(0.9rem, 3vw, 1.1rem);
        cursor: pointer;

        &:hover {
          background-color: var(--hover);
        }
      }

      .cart,
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-right: 5px;
        }
      }

      .link {
        text-decoration: none;
        color: var(--green);

        &:hover {
          background-color: var(--hover);
        }
      }
    }
  }

  .line {
    width: 94%;
    height: 1px;
    border-bottom: 4px solid var(--dark-brown);
    box-shadow: 0 2px 5px rgb(97, 97, 97);
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .logo {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;

    h2 {
      font-size: clamp(1rem, 3vw, 2rem);
      font-weight: 900;
      font-family: RubikMonoOne;
      color: var(--green);

      span {
        color: var(--orange);
        font-family: RubikMonoOne;
      }
    }
  }

  .greenBtn {
    background-color: var(--green);
    color: var(--bg-color);
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 2px 5px #7e7e7e;

    &:hover {
      color: var(--green);
      background-color: var(--bg-color);
      border: 1px solid var(--green);
    }
  }

  .brownBtn {
    background-color: var(--dark-brown);
    color: var(--bg-color);
    padding: 8px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: var(--orange);
    }
  }
  .successAlert,
  .errorAlert {
    padding: 10px 20px;
    max-width: 500px;
    border-radius: 4px;
    margin: 20px auto;
  }
  .successAlert {
    background-color: #bfddd6;
    color: var(--green);
    border: 1px solid var(--green);
  }

  .errorAlert {
    background-color: #e9ccc8;
    color: var(--orange);
    border: 1px solid var(--orange);
  }

  @media screen and (min-width: 600px) {
    header {
      padding: 0 15px;
    }
  }
}
